<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOMEPAGE</title>
</head>
<style>
    body{
        background-color:blanchedalmond;
    }
</style>
<body>

    <ul>
        <li><a href="{%url 'course'%}">Course</a></li>
        <li><a href="{%url 'mentor'%}">Mentor</a></li>
        <li><a href="{%url 'search'%}">Search</a></li>
    </ul>

    <center><h1>KOLEJ PROFESSIONAL MARA INDERA MAHKOTA</h1></center>
    {% with firstname="Muhammad Abdul" mothersname="Saleha" %}
        <h2>hello {{ firstname }} , how are you?</h2>
         <h2>my mother name is {{ mothersname }}</h2>
         <h2>My father name is {{ fathername }}</h2>
    {% endwith %}

    {% if greeting == 1 %}
        <h1>hello</h1>
    {% endif %}
</html>